@import "tailwindcss";

/* Si shadcn te generó variables CSS, van debajo de la importación de tailwind */
@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  /* Tu ADN Visual: Radios de borde extra grandes */
  --radius-5xl: 2.5rem;
  --radius-4xl: 2rem;
  
  /* Colores personalizados */
  --color-primary: #10b981;

  /* Sombras personalizadas */
  --shadow-xl: 0 20px 50px rgba(0, 0, 0, 0.05);
  --shadow-2xl: 0 30px 60px rgba(0, 0, 0, 0.08);
}

:root {
  --background: #f4f4f5; /* zinc-100 */
  --foreground: #09090b; /* zinc-950 */
  --radius: 1rem;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* ADN Black & Italic para títulos globales si lo deseas */
.brand-title {
  @apply font-black uppercase italic tracking-tighter leading-none;
}